<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor De Moedas</title>
</head>
<body>
    <h2> Conversor De Moedas</h2>
    <form method="post" action="">
        <label for="amount"> Valor:
            <input type="number" name="amount" id="amount"<br>
        </label>
        <label for="from_currency">De:</label>
        <select name="from_currency" id="from_currency">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="BRL">BRL</option>
        <label for="to_currency">Para: <label>
        <select name="to_currency" id="to_currency"></select>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="BRL">BRL</option>
        </select> <br><br>
        <button type="submit">Converter</button>
    </form>
    
</body>
</html>