<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor De Moedas</title>
</head>
<body>
    <div id="center-div" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" >
        <h2> Conversor De Moedas</h2>
        <form method="post" action="">
            <label for="amount"> Valor:
                <input type="number" name="amount" id="amount" required><br><br>
            </label>
            <label for="from_currency">De:</label>
            <select name="from_currency" id="from_currency">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="BRL">BRL</option>
            </select>
            <label for="to_currency">Para:</label>
            <select name="to_currency" id="to_currency">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="BRL">BRL</option>
            </select> <br><br>
            <button type="submit">Converter</button>
        </form>
        {% if result is not none %}
            <h3>Resultado: {{ result }} {{ request.form.get('to_currency') }}</h3>
        {% elif error is not none %}
            <h3> Erro: {{ error }}</h3>
        {% endif %}
    </div>
</body>
</html>